@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #262D63;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: calc(100% - 216px);
  margin-left: 215px;
  height: 80px;
}

header section {
  display: flex;
  align-items: center;
}

header section span {
  padding-left: 20px;
  font-weight: 600;
  font-size: large;
  text-shadow: 1px 1px 2px black;
  color: whitesmoke;
}

header aside {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

header aside img {
  border-radius: 5px;
  width: 40px; 
  height: 40px;
}

span.borderRight {
  border-right: 2px solid black;
  padding-left: 20px;
  height: 100%;
}

span.spacingSmall {
  padding-left: 8px;
}

span.borderLeft {
  border-left: 2px solid black;
  padding-right: 20px;
  height: 70%;
}

span.borderBottom {
  position: fixed;
  border-bottom: 2px solid black;
  height: 80px;
  width: 215px;
  left: 0;
}

.sideBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 215px;
  background-color: #262D63; 
  border-right: 2px solid black;
}

.sideBar img {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 19px;
  height: 50px;
}

section .content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  padding-left: 211.5px;
  width: calc(100% - 214px);
  height: 100vh;
}

section .content .card {
  background-color: #85b7e9;
  padding: 20px;
  width: 80%;
  height: 120px;
}

button {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;

}
