@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100vh;
  border-radius: 3px;
  box-shadow: 2px 2px 7px black;
}

.operators {
  background-color: goldenrod;
}

.operators:hover {
  background-color: black;
  color: goldenrod
}

table{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  background-color: darkgrey;
  width: 400px;
  height: 500px;
  padding-right: 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px;
}

table tr td {
  text-align: center;
  background-color: gainsboro;
  font-size: 20px;
  width: 50px;
  border-radius: 3px;
  box-shadow: 2px;
  cursor: pointer;
}

table tr th {
  height: 150px;
  font-size: 40px;
}
