@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.main {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  background-color: tomato;
  border: 3pt solid tomato;
  border-radius: 3px;
  box-shadow: 2px 2px 7px black;
  justify-content: space-around;
  margin-left: 300px;
}

.main section {
  flex-direction: column;
  width: 50%;
  text-align: center;
  margin:10px
}

.main aside {
  max-width: 260px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: bisque;
  padding: 10px;
  text-align: center;
}

.main footer {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
}

a{
  font-family: 'Caveat', cursive;
  font-size: medium;
  color: black;  
}

h1, h2, h3, h5 {
  font-family: 'Caveat', cursive;
}

p {
  font-family: 'Caveat', cursive;
}

